body,table  {
  padding: 0px;
  color : #333;
  font-size : 11px;
  font-family : Arial, Helvetica, sans-serif;
}

a {
  color: #aaaaaa;
  text-decoration: none;
}
a:hover {
  color : #cccccc;
  text-decoration : none;
  border-bottom:1px dotted #cccccc;
}
a:active {
  color : #999999;
  text-decoration : none;
  border-bottom:1px dotted #cccccc;
}

.inputcity {
  margin:2px;
  width:140px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -3;
  font-size: 11px;
}
.small {
  color : #333;
  font-size : 10px;
}

select.options, input.options {
  font-size: 8pt;
  border: 1px solid #999;
}

form {
  margin: 0px 0px 0px 0px;
}

fieldset {
  padding:2px;
  border:solid 1px #cccccc;
}

.table_light{
  background:#fff;
}

.table_dark{
  background:#eeeeee;
}

.table_highlight{
  background:#bbbbbb;
  color:#eeeeee;
}

.table_adzan{
  border:1px solid #cccccc;
  width:400px;
  margin-top:5px;
  margin-bottom:5px
}

.table_adzan2{
  width:150px;
  margin-top:5px;
  margin-bottom:5px
}

.table_header{
  background:#aaaaaa;
  color:#333333;
  font-weight:bold;
}

.table_copyright{
  background:#777777;
  color:#ffffff;
  font-size:8pt;
}

.table_navigasi{
  background:#777777;
  color:#dddddd;
}

.table_title{
  background:#666666;
  color:#fff;
}

.table_block_title{
  background:#aaaaaa;
  color:#333333;
}

.table_block_content{
  text-align:left;
  background:#eeeeee;
  color:#333333;
}
.button{
  background:#cccccc;
  border:solid 1px #999999;
  font-size:9pt;
  font-weight:bold;
}
.footer1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	padding: 10px;
	border: 1px solid #cccccc;
  background: #ECECEC;
  text-align: center;
  font-weight:bold;
}
.header1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	border: 1px solid #cccccc;
	color:#fff;
  position:relative;
  background-color: #cccccc;
  font-weight:bold;
  font-size:16pt;
}
h1 {
	font-size: 15px;
	font-weight: bold;
 	color: #999999;
	padding: 10px 10px 4px 0px;
 	text-align: left;
	border-bottom: 1px solid #999999;
	margin-bottom: 10px;

}
.install-form {
  position: relative;
	text-align: left;
	float: right;
	width: 69%;
}
.form-block {
	border: 1px solid #cccccc;
	background: #ECECEF;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.clr {
    clear:both;
}

.ctr {
	text-align: center;
}
table.content2 {
	width: 98%;
}

table.content2 td {
	color : #333333;
	font-size: 11px;
}
.install-text {
  position: relative;
	text-align: left;
	width: 30%;
	float: left;
}
.table-header{
  background:#cfcfcf;
  padding:2px;
}
.inputbox {
  width:220px;
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	z-index: -3;
	font-size: 11px;
}
.inputbox2 {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	z-index: -3;
	font-size: 11px;
}
.inputNumber {
  text-align: right;
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	z-index: -3;
	font-size: 11px;
}
.far-right {
  position: relative;
	text-align: right;
	float: right;
}
#break {
	height: 20px;
}
.dhtml_title{
  text-align:left;
	color:#FFF;
	font-size:11px;
	background-color:#999999;
	width:430px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:2px;
	height:20px;
	overflow:hidden;
	cursor:pointer;
}
.dhtml_content{
	border:1px solid #999999;
	background-color:#EEEEEE;
	width:430px;
  visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;

}
.dhtml_content_main{
	padding:1px;
	font-size:10px;	
	position:relative;
}

.dhtml_title2{
  text-align:left;
	color:#FFF;
	font-size:11px;
	background-color:#999999;
	width:150px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:2px;
	height:22px;
	overflow:hidden;
	cursor:pointer;
}
.dhtml_content2{
	border:1px solid #999999;
	background-color:#EEEEEE;
	width:150px;
  visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;

}
